.header {
  background-image: linear-gradient(45deg,#400000 0%,#FF4C4C 100%);
  background-size: cover;
	position: relative;
}

.header--main {
	height: 100%;
}

.header--sub {
	height: 500px;
}

.header__row {
  background: #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  display: block;
  height: 100px;
}

.header__logo {
	animation: spin 4s linear 2s infinite;
  display: block;
  margin: 0 auto;
  height: 125px;
  left: 50%;
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
	width: 117px;
}

.header__content {
	left: 50%;
	position: absolute;
  text-align: center;
	top: 50%;
  transform: translate(-50%, -50%);
}

.header__title {
	text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

.header__slogan {
  color: #ffffff;
  margin-top: 20px;
}

.header__cta {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	display: inline-block;
	padding: 20px 80px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.header__cta:link,
.header__cta:hover,
.header__cta:focus,
.header__cta:visited {
  color: #ffffff;
}

.header__cta:hover {
  background-color: rgba(255,255,255,0.4);
}

@keyframes spin {
	0% {width: 117px;}
  50% {width: 117px;}
	75% {width: 0px;}
	100% {width: 117px;}
}
