.navbar {
  background: #ffffff;
  bottom: 0;
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5);
  height: 100px;
  position: fixed;
  width: 100%;
}

.navbar__row {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar__list {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 33.333333%;
}

.navbar__link {
  background: #ffffff;
  display: block;
  font-size: 12px;
  height: 100%;
  padding-top: 28px;
}

.navbar__link--active {
  color: #ff0000;
}

.navbar__icon {
  display: block;
  font-size: 32px;
}
