#root, .app, .app__wrapper {
  height: 100%;
}

.app__content {
  margin: 0 auto;
  max-width: 992px;
	padding-bottom: 120px;
  padding-top: 20px;
  width: 90%;
}

.rankinglist {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.rankinglist th {
  background: #df2e31;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.rankinglist th:hover {
  background: #af2b2d;
}

.rankinglist th:first-of-type {
  border-top-left-radius: 5px;
}

.rankinglist th:last-of-type {
  border-top-right-radius: 5px;
}

.rankinglist tr:nth-child(even) {
  background-color: #f2f2f2
}

.rankinglist td {
  padding: 20px 0;
	vertical-align: middle;
}

.avatar {
	transition: all 0.5s ease;
}

.avatar:hover {
	transform: scale(1.1);
}

.avatar--micro {
  border-radius: 50%;
  margin-right: 5px;
  width: 50px;
  vertical-align: middle;
}

.avatar--large {
  border-radius: 5%;
  width: 160px;
}

.loadbtn {
	background: #af2b2d;
	border: 0;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	padding: 10px 20px;
	transition: background-color 0.25s ease;
}

.loadbtn:hover {
	background: #df2e31;
}

.info {
  margin-bottom: 0px;
}

.error {
  color: #ff0000;
  display: block;
  margin-top: 20px;
}
