/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext');

html, body {
  height: 100%;
  width: 100%;
}

body {
	color: #333333;
  font-family: 'Roboto', sans-serif;
}

a:link, a:hover, a:focus, a:visited {
  color: #af2b2d;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #df2e31;
}

p, h2, h3, h4, h5, h6, hr {	
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
  line-height: 36px;
}

h3 {
	font-size: 20px;
  line-height: 30px;
}

hr {
	border: 0;
	border-top: 1px solid #cccccc;
}
